.panel-speakers {
    padding-top: 40px;
    background: #66037c;
}
.panel-speakers .about-speakers {
    text-align: center;
}

.panel-speakers .title {

    color: rgb(246, 240, 240);
    font-size: 40px;
    margin-bottom: 16px;

}

.panel-speakers .subtitle {
    color: rgb(246, 240, 240);
    font-size: 32px;
    margin-bottom: 16px;
}

.panel-speakers .speakers {
    text-align: center;
}

.panel-speakers .speaker {

    background: rgb(246, 240, 240);
    display: inline-block;
    margin: 0 16px 32px 0;
    padding: 18px;
    border-radius: 10px;
    width: 220px;/*para caber 4 na primeira linha */
    vertical-align: top;/*vai alinhar pelo topo*/
}

.panel-speakers .speaker-image {
    border-radius: 40%;
}

.panel-speakers .speaker-name {
    margin-top: 10px;
}

.panel-speakers .speaker-bio {
    font-weight: bold;
    margin-top: 16px;
}

.panel-speakers .speaker-speach {
    margin-top: 16px;
}


